<div class="container">
	<div class="init__title__container">
	    <div class="init__title__text">
	    	<img class="init__title__image"></img>
	        <div>... cargando datos ...</div>
	        <div>un momento por favor</div>
	    </div>
	</div>
</div>