@import './../../../../assets/styles/__breakpoints.scss';

@font-face {
  font-family: mohave;
  src: url('/assets/fonts/Mohave.otf');
}

@font-face {
  font-family: nevis;
  src: url('/assets/fonts/nevis.ttf');
}

#sidebarmenu {
  height: 100%;
}

.landing__page__container {

  @include respond-to(monitor) {
    background-image: url('/assets/images/cover_m.jpg');
  }

  @include respond-to(tablet) {
    background-image: url('/assets/images/cover.jpg');
  }

  @include respond-to(movil) {
    background-image: url('/assets/images/cover.jpg');
  }

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;

  display: flex;

  justify-content: center;


  background-size: cover;

  &--image {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

}

.landing__page__card {

  padding-top: 3em;
  padding-right: 1em;
  padding-bottom: 3em;
  padding-left: 1em;
  color: #fff;
  background-color: rgba(32, 32, 32, 0.2);
  text-align: center;

  &--name {
    @include respond-to(monitor) {
      font-size: 5.2em;
    }

    @include respond-to(tablet) {
      font-size: 4.6em;
    }

    @include respond-to(movil) {
      font-size: 3.4em;
    }

    font-family: mohave;
    padding-bottom: .5em;
  }

  &--title {
    @include respond-to(monitor) {
      font-size: 3em;
    }

    @include respond-to(tablet) {
      font-size: 2.5em;
    }

    @include respond-to(movil) {
      font-size: 1.8em;
    }

    font-family: nevis;
    font-weight: 500;
    line-height: 1em;
  }

  &--subtitle {
    @include respond-to(monitor) {
      font-size: 2.7em;
    }

    @include respond-to(tablet) {
      font-size: 2.2em;
    }

    @include respond-to(movil) {
      font-size: 1.5em;
    }

  }
}


.landing__page__tech {
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-to(monitor) {
    width: 854px;
  }

  @include respond-to(tablet) {
    width: 761px;
  }

  @include respond-to(movil) {
    width: 383px;
  }

  &--tech {
    display: flex;
    flex-direction: column;
    margin: .5em;
  }

  &__icon {
    display: flex;
    height: 2em;
    padding: .1em;
  }

  &__text {
    background-color: white;
    color:  rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 8px;
    text-align: center;
    width: 100%;
    padding: 0 .2em;
  }

}