<ngx-json-ld [json]="schema"></ngx-json-ld>
<!-- Menu -->
<aside id="sidebarmenu">
  <input id="hamburger" type="checkbox" class="hamburger-checkbox">
  <label for="hamburger" class="hamburger-label" role="button">&#xf0c9;</label>

  <nav role="navigation" class="sidebar">
    <div class="barmenu">
      <div class="menu">
        <ul>
          <li><a [routerLink]="['/posts']">Blog</a></li>
          <li><a [routerLink]="['/contact']">Contacto</a></li>
        </ul>
      </div>
      <div class="footer">
        <a href='http://es.linkedin.com/in/vdeandres' class="footer--icon fa fa-linkedin"></a>
        <a href='https://github.com/VictorDeAndres' class="footer--icon fa fa-github"></a>
        <a href='https://twitter.com/victor_deandres' class="footer--icon fa fa-twitter"></a>
      </div>
    </div>
  </nav>
</aside>

<!-- Background -->
<div class="landing__page__container">
  <div class="landing__page__container--image">
    <div class="landing__page__card">
      <div class="landing__page__card--name">Victor de Andrés</div>
      <div class="landing__page__card--title">Software Engineering</div>
      <div class="landing__page__card--subtitle">Full Stack Developer</div>
      <div class="landing__page__tech">
        
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/JavaScript_logo.png">
          <div class="landing__page__tech__text">Javascript</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/typescript.png">
          <div class="landing__page__tech__text">Typescript</div>
        </div>
  
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/python.png">
          <div class="landing__page__tech__text">Python</div>
        </div>
          
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/node.png">
          <div class="landing__page__tech__text">NodeJs</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/mysql.png">
          <div class="landing__page__tech__text">MySQL</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/postgresql.png">
          <div class="landing__page__tech__text">Postgresql</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/mongo.png">
          <div class="landing__page__tech__text">MongoDB</div>
        </div>  

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/hadoop.png">
          <div class="landing__page__tech__text">Hadoop</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/hive.png">
          <div class="landing__page__tech__text">Hive</div>
        </div>

        <div class="landing__page__tech--tech">
            <img class="landing__page__tech__icon" src="/assets/images/angular.png">
            <div class="landing__page__tech__text">Angular</div>
        </div>
  
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/flask.png">
          <div class="landing__page__tech__text">Flask</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/github.png">
          <div class="landing__page__tech__text">Github</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/gitlab.png">
          <div class="landing__page__tech__text">Gitlab</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/mocha.png">
          <div class="landing__page__tech__text">Mocha</div>
        </div>
  
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/chai.png">
          <div class="landing__page__tech__text">Chai</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/jasmine.png">
          <div class="landing__page__tech__text">Jasmine</div>
        </div>
  
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/cypress.png">
          <div class="landing__page__tech__text">Cypress</div>
        </div>
  
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/travis.png">
          <div class="landing__page__tech__text">Travis</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/gitlabci.png">
          <div class="landing__page__tech__text">GitLab CI</div>
        </div>

        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/docker.png">
          <div class="landing__page__tech__text">Docker</div>
        </div>        
        <div class="landing__page__tech--tech">
          <img class="landing__page__tech__icon" src="/assets/images/kubernetes.png">
          <div class="landing__page__tech__text">Kubernetes</div>
        </div>
      </div>
    </div>
  </div>
</div>
