@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Bold.ttf);
}

body {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
    @include respond-to(movil) { 
    	font-size: 16px;
    }
    @include respond-to(tablet) { 
		font-size: 24px;    	
    }	
}