.post__container{
    display: block;
    background-color: #fff;
    margin: 0 -1em 4em -1em;
    @include respond-to(tablet) { 
        border-color: #cecece;
        border-style: solid;
        border-width: 2em;
    }

}

.post__container__image{
    display: block;
    margin: 2em -1em 0 -1em;
}

.post__title{
    font-size: 120%;
    font-weight: bold;
    padding: 1em 1.5em 0 1.5em;
}

.post__text{
    font-size: 90%;
    padding: 1em 1.5em 1.5em 1.5em;
}

.post__footer{
    display: block;
    font-size: 70%;
    color: #7d7c7c;
    background-color: #f7f7f9;
    padding: 1em 2em 1em 2em;;
}

.post__footer__publishedate,
.post__footer__comments {
    padding: 0 0.5em 0 0.5em;
}

.post__comment__author{
    font-size: 70%;
    padding: 1.5em 1.5em 0.5em 1.5em;
    border-top-style: solid;
    border-top-width: thin;
}

.post__comment__text{
    font-size: 80%;
    padding: 0 1.5em 1.5em 1.5em;
   
}

.post__comment_container{
    padding: 2em 2em 0 2em;
}