<div class="container">
    <div class="row ">
        <div class="col-md-3">
            <h1><span class="menu__title">Blog</span></h1>
            <h6><span class="menu__subtitle">Prueba tecnica</span></h6>
        </div>
        <div class="col12 col-md-9">
            <div class="post__container__image">
                <img src="{{post.image}}" width="100%" height="100%">
            </div>
            <div class="post__container">
                <div class="post__title">
                    Post # {{post.id}}
                </div>
                <div class="post__text">
                    {{post.text}}
                </div>   
                 <div class="post__footer">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="post__footer__publishedate">{{post.publishedAt | date : 'dd/MM/y'}} a las {{post.publishedAt | date : 'hh:mm'}}</span>
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <span class="post__footer__comments" ng-click="showComments = !showComments">{{comments}} comentarios</span>
                </div>
                <span ng-show="showComments">
                    <div ng-repeat="comment in post.comments track by $index">
                        <post-comments commentby="{{comment.author}}" text="{{comment.text}}"></posts-comments>
                    </div>                
                </span>
            </div>

        </div>
    </div>
</div>